<%- include('../_common/_head', { key: 'index', }) %>
<nav class="navbar navbar-expand-sm navbar-light">
  <a href="#" class="navbar-brand">
    <img src="../../../assets/img/logo.svg" alt="" />
  </a>
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbar-menu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="index.html">home</a></li>
      <li class="nav-item"><a class="nav-link" href="swipe.html">swipe</a></li>
      <li class="nav-item"><a class="nav-link" href="about.html">about</a></li>
      <li class="nav-item">
        <a class="nav-link btn-join-us" href="#">Join Us</a>
      </li>
    </ul>
  </div>
</nav>
