<%- include('_common/_head', {
    key: 'index',
  }) %>

<main>
    <%- include('_component/_header') %>
    <div class="container">
        <section class="header-title-about">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p class="Coliberate-empowers">Coliberate empowers everyone to make anything </p>
                </div>
                <div class="col-md-6">
                    <p class="We-want-groups-and-i"> We want groups and individuals to adopt and adapt technologies that
                        respect and support the traditions,
                        customs and priorities present in their particular community/society </p>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section class="wings-section">
            <div class="row justify-content-center">
                <div class="col-md-12 ">
                    <img src="../../../assets/img/wings.png" class="img-fluid wings-image" alt="wins" />
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section>
            <div class="row justify-content-center">
                <div class="col-md-4 text-center ">
                    <h2 class="A-BRIEF-HISTORY"> A BRIEF HISTORY</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 ">
                    <p class="Mohamed-a-founding">Mohamed, a founding member of CoLiberate, manages Columbia Makerspace,
                        which is community-run by volunteers know
                        as Superusers. Although this model has been successful for promoting a burgeoning community of
                        student makers
                        at Columbia, opening up to the public is impossible due to university regulations.
                        <br>
                        <br> As we believe Making should not be restricted to well-funded private spaces, we were
                        determined to bring
                        the success of a community led makerspace to a wider audience, and NYC Makerspace was the
                        result.
                        <br>
                        <br> We teamed up with the NYC Department of Parks and Recreation to create a system of
                        makerspaces that serve
                        as a foundation for social, scientific, and artistic innovation that originates in and
                        orientates around
                        the local neighborhood.
                        <br>
                        <br> We've found that space and tool access control is an issue for not just Columbia and NYC
                        Makerspace but
                        a universal issue for many labs, fabrication locations, and co-working spaces. Therefore, we
                        built CoLiberate
                        Swipe.
                    </p>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section>
            <div class="WHO-WE-ARE-BOX">
                <div class="row justify-content-center">
                    <div class="col-md-4 text-center ">
                        <h2 class="WHO-WE-ARE">WHO WE ARE</h2>
                    </div>
                </div>
                <div class="row row1">
                    <div class="col-md-4 col-sm-6 text-center small-image-box">
                        <img src="../../../assets/img/salah.jpeg" class="img-fluid image-round" alt="salah" />
                        <h2>Salah Chafik</h2>
                        <h3>CEO</h3>
                    </div>
                    <div class="col-md-4 col-sm-6  text-center small-image-box">
                        <img src="../../../assets/img/mo.jpeg" class="img-fluid image-round" alt="mo" />

                        <h2>Mohamed Haroun</h2>
                        <h3 style="text-align:center">COO</h3>
                    </div>
                    <div class="col-md-4  text-center d-none d-md-block small-image-box">
                        <img src="../../../assets/img/max.jpg" class="img-fluid image-round" alt="max" />

                        <h2>Maxwell Johnson</h2>
                        <h3>CMO</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-1 text-center small-image-box">
                        <img src="../../../assets/img/alex.jpeg" class="img-fluid image-round" alt="salah" />

                        <h2>Alexander Gaudio</h2>
                        <h3>Developer</h3>
                    </div>
                    <div class="col-md-4  col-sm-6 col-xs-1 text-center small-image-box">
                        <img src="../../../assets/img/yang.jpg" class="img-fluid image-round" alt="salah" />

                        <h2>Yang Hu</h2>
                        <h3>Developer</h3>
                    </div>
                    <div class="col-md-4 text-center d-none d-md-block  small-image-box">
                        <img src="../../../assets/img/jack.jpg" class="img-fluid image-round" alt="salah" />

                        <h2>Jack Bott</h2>
                        <h3>Developer</h3>
                    </div>
                </div>


                <div class="row row-mobile d-md-none  d-lg-none d-xl-none">
                    <div class="col-sm-6  text-center  small-image-box">
                        <img src="../../../assets/img/max.jpg" class="img-fluid image-round" alt="max" />

                        <h2>Maxwell Johnson</h2>
                        <h3>CMO</h3>
                    </div>

                    <div class="col-sm-6 text-center  small-image-box">
                        <img src="../../../assets/img/jack.jpg" class="img-fluid image-round" alt="salah" />

                        <h2>Jack Bott</h2>
                        <h3>Developer</h3>
                    </div>
                </div>
            </div>
    </div>

    <section id="contact" class="row justify-content-center">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 order-xs-2 order-sm-2 order-md-1 order-lg-1 contact-us">
            <form id="contact-form">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name" /> <br>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Enter your email" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="content" id="content" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" href="#">SEND</button>
            </form>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-5 col-lg-5 order-xs-1 order-sm-1 order-md-2 order-lg-2">
            <h2 CLASS="d-none d-md-block">CONTACT US</h2>
            <p class="contact-us-text">
                Need additional information or have a question or comment? Please feel
                free to leave a message, and we'll get back to you as soon as
                possible!
            </p>
        </div>
    </section>



    <%- include('_component/_footer') %>
</main>

<script>
    const form = document.getElementById("contact-form");
    form.addEventListener("submit", function (e) {
        console.log("sending email");
        e.preventDefault();
        //toast.innerHTML = 'Sending'
        //submit.disabled = true
        const payload = {
            name: form.name.value,
            email: form.email.value,
            content: form.content.value
        };
        axios
            .post(
                "https://6zw48z6zg1.execute-api.us-west-2.amazonaws.com/dev/email/send",
                payload
            )
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    });
</script>
<%- include('_common/_foot') %>