<%- include('_common/_head', {
    key: 'index',
  }) %>

<main>
    <section class="header-swipe">
        <%- include('_component/_header') %>
        <div class="container ">

            <div class="row justify-content-center header-text-swipe">
                <div class="col-12 text-center ">
                    <h1>Take control.</h1>
                </div>
            </div>

            <div class="row justify-content-center ">
                <div class="col-12 text-center ">
                    <h6 class="CoLiberate-Swipe-pow"> Coliberate Swipe powers Makerspaces around the world </h6>
                </div>
            </div>
            <div class="row  justify-content-center ">
                <div class=" col-sm-3 text-center ">
                    <img src="../../../assets/img/swipe_swipe.png" class="swipe-screen-header" />
                </div>
                <div class=" col-sm-3 text-center align-self-center swipe-btn-header">
                    <a class=" btn btn-learn-more" style=" vertical-align: middle !important" href="#">BUY
                        NOW</a>
                </div>
            </div>
        </div>
    </section>
    <div class="container">

        <section class="icons-section-swipe">
            <h2 class="swipe-title"> ACCESS, MONITOR, MANAGE.</h2>
            <div class="row  justify-content-center">
                <div class="col-md-3 text-center">
                    <img src="../../../assets/img/key.svg" alt="key" class="align-self-center" />
                    <p class="monitor-manage-text">Access control for spaces and tools</p>
                </div>

                <div class="col-md-3 text-center">
                    <img src="../../../assets/img/rfid.svg" alt="rfid" />
                    <p class="monitor-manage-text">RFID security for power </p>
                </div>
                <div class="col-md-3 text-center">
                    <img src="../../../assets/img/analytics.svg" alt="analytics" />
                    <p class="monitor-manage-text">Usage metrics and analytics </p>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-md-3 text-center">
                    <img src="../../../assets/img/schedule.svg" alt="schedule" />
                    <p class="monitor-manage-text">Scheduling and resource usage </p>
                </div>

                <div class="col-md-3 text-center">
                    <img src="../../../assets/img/settings.svg" alt="settings" />
                    <p class="monitor-manage-text">All customizable to fit your space </p>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section class="section-2swipes">
         <div class="swipe-designs-section-background text-center">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item text-center">
                    <a class="nav-link active" data-toggle="tab" href="#swipe-display">Swipe Display</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#swipe-basic">Swipe Basic</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="swipe-display" class="tab-pane container active img-fluid">
                    <img src="../../../assets/img/swipe_swipe.png" />
                </div>
                <div id="swipe-basic" class="tab-pane container fade img-fluid">
                    <img src="../../../assets/img/swipe_swipe_basic.png" />
                </div>
            </div>
    </div>
    </section>
    </div>





    <div class="container">
        <section class="SWIPE-PRICING-PLANS">
            <h2 class="swipe-title"> WHICH ONE IS RIGHT FOR YOU? </h2>
            <div class="table-responsive pricing-table">
                <table class="table " cellspacing="10">
                    <thead>
                        <tr>
                            <th scope="col" class="pricing-table-columns-titles"></th>
                            <th scope="col" class="pricing-table-columns-titles"
                                style="text-align: center; background-color:#ebedf3">Swipe Display</th>
                            <th scope="col" class="pricing-table-columns-titles"
                                style="text-align: center;background-color:#f9fafe">Swipe</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">secure access verification</th>
                            <td style="background-color:#ebedf3">
                                <span class="check-mark">&#10004</span>
                            </td>
                            <td style="background-color:#f9fafe">
                                <span class="check-mark">&#10004</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">bulk-add Users and permissions</th>
                            <td style="background-color:#ebedf3">
                                <span class="check-mark">&#10004</span>
                            </td>
                            <td style="background-color:#f9fafe">
                                <span class="check-mark">&#10004</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Tool power on/off</th>
                            <td style="background-color:#ebedf3">
                                <span class="check-mark">&#10004</span>
                            </td>
                            <td style="background-color:#f9fafe">
                                <span class="check-mark">&#10004</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Data capture exported as CSV</th>
                            <td style="background-color:#ebedf3">
                                <span class="check-mark">&#10004</span>
                            </td>
                            <td style="background-color:#f9fafe">
                                <span class="check-mark">&#10004</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Display screen</th>
                            <td style="background-color:#ebedf3">
                                <span class="check-mark">&#10004</span>
                            </td>
                            <td style="background-color:#f9fafe">
                                <span class="check-mark">&#10004</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Manage user permissions from central station </th>
                            <td style="background-color:#ebedf3">
                                <p class="check-mark">&#10004</p>
                            </td>
                            <td style="background-color:#f9fafe">
                                <span class="check-mark">&#10004</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Monitor current usage and history on-site</th>
                            <td style="background-color:#ebedf3">
                                <span class="check-mark">&#10004</span>
                            </td>
                            <td style="background-color:#f9fafe">
                                <span class="check-mark">&#10004</span>
                            </td>

                        </tr>
                        <tr>
                            <th></th>
                            <td style="background-color:#ebedf3" class="swipe-price">
                                <h6>$499</h6>
                                <br>
                                <a class=" btn btn-learn-more d-none d-md-block" href="#">BUY NOW</a>
                            </td>
                            <td style="background-color:#f9fafe" class="swipe-price">
                                <h6>$299</h6>
                                <br>
                                <a class=" btn btn-learn-more d-none d-md-block" href="#">BUY NOW</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 text-center ">
                    <a class="btn btn-learn-more d-md-none  d-lg-none d-xl-none" href="#">BUY NOW</a>
                </div>
            </div>
        </section>
    </div>

    <%- include('_component/_footer') %>
</main>


<%- include('_common/_foot') %>
