<%- include('../_common/_head', { key: 'home', pagetitle: 'Home page', }) %> <%-
include('../_component/_header') %>

<main class="content">
  <div class="container">
    <div class="row">
      <div class="col">col1</div>
      <div class="col">col2</div>
    </div>
  </div>
</main>

<%- include('../_component/_footer') %> <%- include('../_common/_foot') %>
